.mainContainer{
    display: flex;
    font-family: Arial, sans-serif;
    align-items: center;
    
}
.contactUs{
    background-color: #D2B48C;
}
.contactUs .phone .buttonPhone{
    display: flex;
    align-items: center;
    background: transparent;
    font-size: 20px;
    color: #4B2E2E;
    flex-direction: column;
}
.contactUs .email .buttonEmail{
    align-items: center;

    background: transparent;
    font-size: 20px;
    color: #4B2E2E;
    flex-direction: column;
}